body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.swim-lanes {
  display: flex;
  min-height: 60vh;
  padding: 15px;
  background: rgb(127, 202, 236);
}

.task-card {
  margin: 0 auto;
  background-color: red;
}

.task-card:hover {
  cursor: grab;
}
